<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Detection</title>
    <style>
        #video_feed {
            border: 1px solid #000000;
        }
    </style>
</head>
<body>
    <h1>Eye Detection</h1>
    <img id="video_feed" src="{{ url_for('video_feed') }}" width="640" height="480">
    <p>Duration of closed eyes: <span id="eyes_closed_duration">0.0</span> seconds</p>
    <p>Total time of closed eyes: <span id="total_eyes_closed_time">0.0</span> seconds</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('update_eyes_closed_duration', function (data) {
            console.log('Eyes closed duration:', data.duration);
            document.getElementById('eyes_closed_duration').innerText = data.duration.toFixed(2);
        });

        socket.on('update_total_eyes_closed_time', function (data) {
            console.log('Total eyes closed time:', data.duration);
            document.getElementById('total_eyes_closed_time').innerText = data.duration.toFixed(2);
        });
    </script>
</body>
</html>

